---
- name: Set Facts
  set_fact:
    name: "{{ item.name }}"

- name: Check if letsencrypt ssl certificate for {{ item.name }} is available
  stat:
    path: "{{ item.nginx_ssl_certificate }}"
  register: nginx_ssl_certificate_state
  when: item.nginx_ssl_certificate is defined

- name: Include Application specific vars
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ name }}.yml"
    - "default.yml"

- name: Set nginx_default_ssl Path if ssl certificate exists
  set_fact:
    nginx_default_ssl_certificate: "{{ item.nginx_ssl_certificate }}"
    nginx_default_ssl_certificate_key: "{{ item.nginx_ssl_certificate_key }}"
  when:
    - item.nginx_ssl_certificate is defined
    - nginx_ssl_certificate_state is defined
    - nginx_ssl_certificate_state.stat.exists

- name: Add Site Config for {{ item.name }}
  template:
    src: reverseproxy.conf.j2
    dest: /etc/nginx/sites-available/{{ item.name }}.conf
    owner: root
    group: root
    mode: 0640
  notify: Reload Nginx
