---

- name: Install Nginx and ssl-cert
  apt:
    name:
      - nginx
      - ssl-cert
    state: present
  tags:
    - packages

- name: Install python-passlib
  apt:
    name:
      - "python3-passlib"
    state: present
  tags:
    - packages

- include_role:
    name: ansible-role-custom-cert


- name: Add Site Config
  template:
    src: reverseproxy.conf.j2
    dest: /etc/nginx/sites-available/{{ item.key }}.conf
    owner: root
    group: root
    mode: 0640
  with_dict: "{{ nginx_revproxy_sites }}"
  when:
    - not item.value.letsencrypt | default(True)

- name: Get all enabled_sites
  command: ls -1 /etc/nginx/sites-enabled/
  changed_when: "enabled_sites.stdout_lines != nginx_revproxy_sites.keys()|sort()"
  check_mode: false
  register: active

- name: De-activate Sites not configurated in the variables
  file:
    path: /etc/nginx/sites-enabled/{{ item }}
    state: absent
  with_items: "{{ enabled_sites.stdout_lines }}"
  notify: Reload Nginx
  when:
    - item not in nginx_revproxy_sites
    - nginx_revproxy_de_activate_sites

# Enable Proxy Sites without Letsencrpyt
- name: Enable Site Config
  file:
    src: /etc/nginx/sites-available/{{ item.key }}.conf
    dest: /etc/nginx/sites-enabled/{{ item.key }}
    state: link
  with_dict: "{{ nginx_revproxy_sites }}"
  notify: Reload Nginx
  when:
    - not item.value.letsencrypt | default(True)
    - not ansible_check_mode


- include_tasks: letsencrypt.yml
  when: nginx_revproxy_letsencrypt | bool
