---
- include_role:
    name: ansible-role-apt-repo
    tasks_from: repo
  vars:
    h2_apt_repos:
      - name: openresty
        repo: "http://openresty.org/package/debian {{ ansible_distribution_release }} openresty"
        gpg: https://openresty.org/package/pubkey.gp


- name: Install Nginx and ssl-cert
  apt:
    name:
      - openresty
      - ssl-cert
    state: present

- name: Configure Openresty to use nginx config
  template:
    src: openresty_nginx.conf.j2
    dest: /usr/local/openresty/nginx/conf/nginx.conf
  notify:
    - Reload Nginx

- name: Copy OpenResty Lua Files
  copy:
    src: resty_lua/
    dest: /usr/local/openresty/lualib/resty/
  when: nginx_openresty_copy_lua_files
  notify:
    - Reload Nginx
