local guard = require "resty.guardjwt"
local validators = require "resty.jwt-validators"

guard.GuardJWT.verify_and_map(
    {
{% if item.verifications is defined %}
{% for payload in item.verifications %}
        {{ payload.indicatior }} = {
            validators = validators.equals_any_of({ "{{ payload.validator | join('", "') }}" }),
            header = "{{ payload.header }}"
        },
{% endfor %}
{% else %}
        auth = {
            validators = validators.equals_any_of({ "internal_secret" }),
            header = "X-Auth"
        }
{% endif %}
    },
    {
        secret = "{{ item.secret }}",
        is_token_mandatory = {{ item.is_token_mandatory | default('true') }},
        clear_authorization_header = {{ item.clear_authorization_header | default('true') }},
        authorization_header = "{{ item.authorization_header | default('authorization') }}"
    }
)